.container {
  text-align: left;
  font-family: sans-serif;
  color: grey;
}
.container h1{
  color: gray;
  margin: 0;
  padding: 20px 0;
}

.container-logo {
  height: 40vmin;
}

.container-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-link {
  color: #09d3ac;
}

.TrackNr {
  width:30vw;
}

.Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}