body{

}


.personal-form{

}

.personal-form input{
    width: 80%;
}

.personal-form h1{
    font-size: 1.5em;
}

.personal-form select{
    position: absolute;
    width: 80%;
}
.package-form{
    

}