body{
    background-color: #fff;
    margin: auto;
    height: 100vh;
}



.container{
    padding: 20px;
}

.input-form{
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.package-form{
    visibility: hidden;
}

.user-form .col-xs-6{
    padding-right: 10px;
}
